

<!DOCTYPE html>
<html  dir="ltr" lang="pt-br" xml:lang="pt-br">
<head>
    <title>Senha esquecida</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../view/admin/plugins/bootstrap/css/bootstrap.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: #ccc;">
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <form action="../../admin/login" >
            <div class="form-row align-items-center row">
                <div style="background-color: white; padding: 100px;">
                  <h2>Se o nome de usuário ou o email estiverem corretos, um email deve ter sido enviado a você.</h2>
                  <h2>Este email contém instruções simples para confirmar e completar a alteração de senha. Em caso de dificuldades, contate o administrador do site.</h2>              
                  <a href="../admin/login" class="btn btn-primary">Continuar</a>

              </div>
          </div>
      </form>
  </div>
</div>
</body>
</html>

