{% extends "base.html" %}

{% set dir = '../view/admin/' %}

{% block title %}Lista de produtos{% endblock %}

{% block list_products_active %}active{% endblock %}

{% block content %}
<div class="content-wrapper"><!-- Content Wrapper. Contains page content -->
  <div class="content-header"><!-- Content Header (Page header) -->

    <section class="content-header">
      <h1>
        Listt de Produto
      </h1>
      <ol class="breadcrumb">
        <li><a href="../admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="../admin/users">Usuários</a></li>
      </ol>
    </section>
    <section class="content">

      <div class="row">
       <div class="col-md-12">
        <div class="box box-primary">

          <div class="box-header">
            <a href="../admin/products/create" class="btn btn-success">Cadastrar Produto</a>
          </div>

          <div class="box-body no-padding">

            {% if PRODUCTS is empty %}
            <div style="margin: 100px; text-align: center;">
              <h2>NENHUM PRODUTO CRIADO</h2>
            </div>
            {% else %}  

            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome da Produto</th>
                  <th>Preço</th>
                  <th>Largura</th>
                  <th>Altura</th>
                  <th>Comprimento</th>
                  <th>Peso</th>
                  <th style="width: 140px">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {% for data in PRODUCTS %}
                <tr>
                  <td>{{ data.idproduct }}</td>
                  <td>{{ data.desproduct }}</td>
                  <td>R$ {{ data.vlprice }}</td>
                  <td>{{ data.vlwidth }}</td>
                  <td>{{ data.vlheight }}</td>
                  <td>{{ data.vllength }}</td>
                  <td>{{ data.vlweight }}</td>
                  <td>
                    <a href="{{WWWROOT}}/admin/products/{{data.idproduct}}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>

                   <!-- Início Modal de exclusão de usuário -->
                   <!-- Início link excluir Modal -->
                   <a href="#" data-toggle="modal" data-target="#confirm-delete-idproduct-{{data.idproduct}}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                   <!-- Fim link excluir Modal -->
                   <!-- Início da janela do Modal -->
                   <div class="modal fade" id="confirm-delete-idproduct-{{data.idproduct}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          Exclusão de produto
                        </div>
                        <div class="modal-body">
                          Deseja realmente excluir o produto {{data.desproduct}} ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                          <a href="{{WWWROOT}}/admin/products/{{data.idproduct}}/delete" class="btn btn-danger btn-ok">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fim da da janela do Modal -->
                  <!-- Fim do modal de exclusão de usuário -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div><!-- /.box-body -->
      </div>
    </div>
  </div>

</section><!-- /.content -->
</div><!-- /.content-wrapper -->
</div>
{% endblock %}