{% extends "base.html" %}

{% set dir = '../../view/admin/' %}

{% block title %}Cadastrar novo usuário{% endblock %}

{% block create_user_active %}active{% endblock %}

{% block content %}
<div class="content-wrapper"><!-- Content Wrapper. Contains page content -->
  <div class="content-header"><!-- Content Header (Page header) -->

    <section class="content-header">
      <h1>
        Cadastrar novo usuário
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/admin/users">Usuários</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
       <div class="col-md-12">
        <div class="box box-success">            
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" action="../../admin/users/create" method="POST">
            <div class="box-body">
              <div class="form-group">
                <label for="desperson">Nome</label>
                <input type="text" class="form-control" id="desperson" style="text-transform:uppercase" name="desperson" placeholder="Digite o nome" minlength="3" maxlength="30" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+" required>
              </div>
              <div class="form-group">
                <label for="deslogin">Login</label>
                <input type="text" class="form-control" id="deslogin" name="deslogin" placeholder="Digite o login" minlength="3" maxlength="30" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ@.0-9]+" required>
              </div>
              <div class="form-group">
                <label for="nrphone">Telefone</label>
                <input type="tel" class="form-control" id="nrphone" name="nrphone" placeholder="Digite o telefone" minlength="14" maxlength="15" onkeyup="handlePhone(event)" required>
              </div>
              <div class="form-group">
                <label for="desemail">E-mail</label>
                <input type="email" class="form-control" style="text-transform:lowercase" id="desemail" name="desemail" placeholder="Digite o e-mail" required>
              </div>
              <div class="form-group">
                <label for="despassword">Senha</label>
                <input type="password" class="form-control" id="despassword" name="despassword" minlength="3" maxlength="30" placeholder="Digite a senha" required>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="inadmin" value="1"> Acesso de Administrador
                </label>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </section>

  </div><!-- /.content -->
</div><!-- /.content-wrapper -->
<script>
  const handlePhone = (event) => {
    let input = event.target
    input.value = phoneMask(input.value)
  }

  const phoneMask = (value) => {
    if (!value) return ""
      value = value.replace(/\D/g,'')
    value = value.replace(/(\d{2})(\d)/,"($1) $2")
    value = value.replace(/(\d)(\d{4})$/,"$1-$2")
    return value
  }
</script>
{% endblock %}