{% extends "base.html" %}

{% set dir = '../view/admin/' %}

{% block title %}Lista de usuários{% endblock %}

{% block name %}{{NAME}}{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">

		<section class="content-header">
			<h1>
				Lista de Usuários - {{NAME}} - {{WWWROOT}}
			</h1>
			<ol class="breadcrumb">
				<li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active"><a href="/admin/users">Usuários</a></li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						
						<div class="box-header">
							<a href="/admin/users/create" class="btn btn-success">Cadastrar Usuário</a>
						</div>

						<div class="box-body no-padding">
							<table class="table table-striped">
								<thead>
									<tr>
										<th style="width: 10px">#</th>
										<th>Nome</th>
										<th>E-mail</th>
										<th>Login</th>
										<th style="width: 60px">Admin</th>
										<th style="width: 140px">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									{% for data in USERLIST %}
									<tr>
										<td>{{data.ID}}</td>
										<td>{{data.NOME}}</td>
										<td>{{data.EMAIL}}</td>
										<td>{{data.LOGIN}}</td>
										<td>{{data.ADMIN}}</td>
										<td>
											<a href="{{WWWROOT}}/admin/users/{{data.ID}}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>

											<a href="{{WWWROOT}}/admin/users/{{data.ID}}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

							<!-- Início Modal de exclusão de usuário -->
							<!-- Início botão excluir Modal -->
							<button class="btn btn-danger btn-xs" data-href="/delete.php?id=54" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i> Excluir
							</button>
							<!-- Fim botão excluir Modal -->


							
							<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											...
										</div>
										<div class="modal-body">
											...
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
											<a href="{{WWWROOT}}/admin/users/2/delete" class="btn btn-danger btn-ok">Delete</a>
										</div>
									</div>
								</div>
							</div>
							<!-- Fim do modal de exclusão de usuário -->

						</div>
						<!-- /.box-body -->
					</div>
				</div>
			</div>
		</section>
	</div><!-- /.content -->
</div><!-- /.content-wrapper -->
{% endblock %}